@import "../styles/variables";
@import "../styles/mixins";

.slot-conteiner {
  width: 100vw;
  height: 100vh;
  background-color: $slot-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $slot-background;

  &__interface {
    margin-top: 5vh;

    border-radius: 4px 4px 0 0;

    @include mediaQuery($desktop-large-width) {
      width: 3 * $slot-icon-width-large-desktop;
      height: 3 * $slot-icon-width-large-desktop;
    }
    @include mediaQuery($desktop-width) {
      width: 3 * $slot-icon-width-desktop;
      height: 3 * $slot-icon-width-desktop;
    }
    @include mediaQuery($tablet-width) {
      width: 3 * $slot-icon-width-tablet;
      height: 3 * $slot-icon-width-tablet;
    }
    @include mediaQuery($mobile-width) {
      width: 3 * $slot-icon-width-mobile;
      height: 3 * $slot-icon-width-mobile;
    }

    display: flex;
    overflow: hidden;
    background-color: $dark-gray;

    .column {
      @include mediaQuery($desktop-large-width) {
        width: $slot-icon-width-large-desktop;
      }
      @include mediaQuery($desktop-width) {
        width: $slot-icon-width-desktop;
      }
      @include mediaQuery($tablet-width) {
        width: $slot-icon-width-tablet;
      }

      @include mediaQuery($mobile-width) {
        width: $slot-icon-width-mobile;
      }

      position: relative;
      display: flex;
      flex-direction: column;
      .reel {
        position: absolute;

        & > div {
          @include mediaQuery($desktop-large-width) {
            min-width: $slot-icon-width-large-desktop;
            width: $slot-icon-width-large-desktop;
            min-height: $slot-icon-width-large-desktop;
            height: $slot-icon-width-large-desktop;
          }
          @include mediaQuery($desktop-width) {
            min-width: $slot-icon-width-desktop;
            width: $slot-icon-width-desktop;
            min-height: $slot-icon-width-desktop;
            height: $slot-icon-width-desktop;
          }
          @include mediaQuery($tablet-width) {
            min-width: $slot-icon-width-tablet;
            width: $slot-icon-width-tablet;
            min-height: $slot-icon-width-tablet;
            height: $slot-icon-width-tablet;
          }
          @include mediaQuery($mobile-width) {
            min-width: $slot-icon-width-mobile;
            width: $slot-icon-width-mobile;
            min-height: $slot-icon-width-mobile;
            height: $slot-icon-width-mobile;
          }

          display: flex;
          align-items: center;
          justify-content: center;
        }

        & > div > img {
          height: 80%;
          width: 80%;
          object-fit: contain;
        }
      }
    }
  }
  .game-controlls {
    background-color: $dark-gray;
    border-radius: 0 0 4px 4px;

    @include mediaQuery($desktop-large-width) {
      width: 3 * $slot-icon-width-large-desktop;
    }
    @include mediaQuery($desktop-width) {
      width: 3 * $slot-icon-width-desktop;
    }
    @include mediaQuery($tablet-width) {
      width: 3 * $slot-icon-width-tablet;
    }
    @include mediaQuery($mobile-width) {
      width: 3 * $slot-icon-width-mobile;
    }

    .betWiner-conteiner {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .credit-bet-cont {
        display: flex;
        .bet-cont,
        .credit-cont {
          display: flex;
          flex-direction: column;

          align-items: center;
        }
        .credit-cont {
          margin-left: 1vw;
          margin-right: auto;
          @include mediaQuery($mobile-width) {
            margin: 0;
          }
        }
        .bet-cont > div,
        .credit-cont > div {
          height: 8vh;
          width: 8vh;
          border: 2px solid white;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1vh;
          color: white;
          font-size: 18px;
          @include mediaQuery($mobile-width) {
            height: 5vh;
            width: 5vh;
          }
        }
        .bet-cont > p,
        .credit-cont > p {
          font-size: 13px;
          color: white;
          font-weight: bold;
          letter-spacing: 0.1vw;
        }
      }

      .winner-paid-cont {
        display: flex;
        flex-direction: column;

        align-items: center;
        margin-right: 1vw;
        margin-left: 1vw;
      }
      .winner-paid-cont > div {
        width: 15vh;
        height: 8vh;
        border: 2px solid white;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1vh;
        color: white;
        font-size: 20px;
        font-weight: bold;
        @include mediaQuery($mobile-width) {
          height: 5vh;
          width: 7vh;
        }
      }
      .winner-paid-cont > p {
        font-size: 13px;
        color: white;
        font-weight: bold;
        letter-spacing: 0.1vw;
      }
      @include mediaQuery($mobile-width) {
        flex-direction: column;
      }
    }

    .btn-cont {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0.5rem;
      padding-bottom: 1rem;

      .bet-one-bet-max {
        @include mediaQuery($mobile-width) {
          margin: 1vh 0;
        }
        display: flex;
        .bet-one,
        .bet-max {
          width: 8vh;
          height: 8vh;
          background-color: red;

          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          text-align: center;
          border-radius: 4px;
          font-size: 13px;
          cursor: pointer;
          @include mediaQuery($mobile-width) {
            height: 6vh;
            width: 6vh;
            font-size: 10px;
          }
        }
        .bet-max {
          margin-left: 1vw;
        }
      }

      .spin-btn {
        height: 8vh;
        width: 20vh;
        text-transform: uppercase;
        background-color: #00ff00;
        margin-right: 1vw;
        margin-left: 2vw;
        border: none;
        border-radius: 4px;
        font-family: $roboto-font-mono;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        @include mediaQuery($mobile-width) {
          height: 6vh;
          width: 10vh;
          margin: 0;
        }
      }
      .reset {
        color: white;
        padding: 0.5rem;
        border: 2px solid #eee;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 3vw;
        @include mediaQuery($mobile-width) {
          margin-right: 0;
        }
      }
      @include mediaQuery($mobile-width) {
        flex-direction: column;
      }
    }
  }

  .game-message {
    margin-top: 2vh;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    @include mediaQuery($desktop-large-width) {
      width: 3 * $slot-icon-width-large-desktop;
    }
    @include mediaQuery($desktop-width) {
      width: 3 * $slot-icon-width-desktop;
    }
    @include mediaQuery($tablet-width) {
      width: 3 * $slot-icon-width-tablet;
    }
    @include mediaQuery($mobile-width) {
      width: 3 * $slot-icon-width-mobile;
    }
  }
}
